Source: armoreproxy
Section: misc
Priority: extra
Maintainer: Steve Granda <sgrand2@illinois.edu>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/GridProtectionAlliance/ARMORE/

Package: armoreproxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsodium18, libzmq5, armoreczmq, libpcap0.8, libpcap-dev, uuid-dev
Description: Proxy Client for ARMORE node
 This will connect encrypted ARMORE nodes using either ZMQ or PCAP
