body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}

a {
    color: #10839d;
}
a:hover {
    text-decoration: none;
    color: #0fa2c2;
}

#armore {
    height: 100%;
    width: 100%;
}

#armore .header {
}

#armore .header .logo a {
    color: #ffffff;
}

#armore .header .logo {
    background-color: #990033;
    width: 200px;
    position: absolute;
    text-align: center;
}

#armore .header .logo small {
    font-size: 12px;
}

#armore .header .logo span.app-name {
    font-size: 20px;
    line-height: 60px;
    font-weight: 300;
}

#armore .header .top-nav {
    width: 100%;
    padding-top: 15px;
    padding-left: 200px;
    padding-right: 10px;
}

#armore .header .top-nav .dropdown {
    padding-top: 18px;
    margin-right: 20px;
    display:inline-block;
    vertical-align: top;
}

#armore .header .top-nav .host-info {
    margin-left: 20px;
    display:inline-block;
    width:50%;
}

#armore .header .top-nav .host-info .name span.glyphicon {
    color: #adadad;
    line-height: 24px;
    height: 20px;
}

#armore .header .top-nav .host-info .name span.hostname {
    font-size: 22px;
    font-weight: 300;
}

#armore .header .top-nav .host-info .info {
    color: #777777;
    font-size: 12px;
}

#armore .header .top-nav .dropdown-text {
    color: #898989;
    padding: 10px;
    font-size: 18px;
}

#armore .header .top-nav span.caret {
    color: #adadad;
}

#armore .header .top-nav .profile-box {
	float:right;
	margin:10px -10px 0 -250px;
}

#armore .header .top-nav .profile-box .imagemark {
    background:url("../images/armore.png") no-repeat;
    width:300px;
    height:75px;
    overflow:hidden;
    float:left;
    margin:-34px 0 0 -305px;
}

#armore .header .top-nav .btn-on {
	background:url(../images/sprite.png) no-repeat -230px -5px;
	width:35px;
	height:38px;
	overflow:hidden;
	text-indent:-9999px;
	float:left;
	margin:0 0 0 3px;
}

#armore .header .top-nav .profile-box .profile {
	float:left;
	border:1px solid #dde2e8;
	background:#fff;
	-webkit-border-radius: 1px 1px 0 0;
	-moz-border-radius: 1px 1px 0 0;
	border-radius: 1px 1px 0 0;
	height:37px;
}

#armore .header .top-nav .profile-box .profile .image {
	float:left;
	margin:1px 12px 0 0;
}

#armore .header .top-nav .profile-box a {text-decoration:none;}

#armore .header .top-nav .profile-box .text-box {
	float:left;
	overflow:hidden;
	color:#a0a0a0;
	font-size:10px;
	line-height:12px;
}

#armore .header .top-nav .profile-box .section {
	padding:4px 33px 0 7px;
	float:left;
}

#armore .header .top-nav .profile-box a.section {cursor:pointer;}

#armore .header .top-nav .profile-box .name {
	display:block;
	font-size:12px;
	line-height:15px;
	color:#4f5f6f;
	font-weight:normal;
}

#armore .header .top-nav .profile-box .opener {
	float:left;
	background:url(../images/sprite.png) no-repeat -39px -58px;
	width:32px;
	height:34px;
	overflow:hidden;
	text-indent:-9999px;
	border-left:1px solid #dde2e8;
}

#armore .table-container {
    display: table;
    height: 100%;
    margin: 0 auto;
}

#armore .table-container .content {
    height: 100%;
    padding-top: 70px;
    display: table-row;
}

#armore .table-container .content > div {
    display: table-cell;
    vertical-align: top;
}

#armore .table-container .content .left-nav {
    width: 200px;
    background-color: #313443;
    color: #ffffff;
}

#armore .table-container .content .left-nav ul.menu {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
}

#armore .table-container .content .left-nav ul.menu li a {
    display: block;
    width: 200px;
    height: 40px;
    padding-top: 6px;
    padding-left: 20px;
    border-left: 4px solid #313443;
    color: #adadad;
}

#armore .table-container .content .left-nav ul.menu li a span.glyphicon {
    font-size: 24px;
}

#armore .table-container .content .left-nav ul.menu li a span.option-text {
    font-size: 16px;
    padding-left: 16px;
    line-height: 24px;
    vertical-align: 5px;
}

#armore .table-container .content .left-nav ul.menu li a span.option-text .num {
	position:relative;
	right:-3px;
	top:-8px;
	color:#fff;
	font:bold 10px/18px Arial, Helvetica, sans-serif;
	background: #4c95cd;
	background: -moz-linear-gradient(top,  #4c95cd 0%, #3c78ba 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c95cd), color-stop(100%,#3c78ba));
	background: -webkit-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
	background: -o-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
	background: -ms-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
	background: linear-gradient(to bottom,  #4c95cd 0%,#3c78ba 100%);
	text-align:center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#armore .table-container .content .left-nav ul.menu li.active a, #armore .content .left-nav ul.menu li a:hover {
    text-decoration: none;
    color: #ffffff;
    border-left: 4px solid #00FF00;
}

#armore .table-container .content .main-content {
    border-top: 1px solid #c1d0d9;
    margin-left: 200px;
    background-color: #dee2ea;
    width: 100%;
    padding: 20px;
}

#armore .table-container .content .main-content div.box {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #c2c6ce;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 310px;
}

#dashboard div.box {
    display:block;
}

#dashboard div.box.cpu {
    min-width: 300px;
}

#dashboard div.box.users {
    min-width: 500px;
}

#dashboard div.box.swap {
    min-width: 350px;
}

#dashboard div.box.memory {
    min-width: 400px;
}

#dashboard div.box.network {
    min-width: 500px;
}

#dashboard div.box.disks {
    min-width: 500px;
}
#dashboard div.box.logs{
	min-width: 500px;
}

#dashboard div.box table {
    margin-bottom: 0;
}

#dashboard div.box table th {
    font-weight: 500;
    font-size: 12px;
}

#armore .table-container .content .main-content div.box .box-header {
    margin-bottom: 10px;
}

#armore .table-container .content .main-content div.box .box-header span {
    font-size: 20px;
    font-weight: 300;
    color: #808080;
    padding: 10px 0;
}

#processes,#logs {
    width: 100%;
}

#armore table th {
    padding: 13px 6px;
    font-size: 16px;
    font-weight: 300;
    margin-right: 10px;
}

#armore table th a {
    font-size: 16px;
    font-weight: 300;
    margin-right: 10px;
}

#armore table td {
    vertical-align: middle;
    font-size: 13px;
}

#armore table td a {
    font-size: 16px;
    font-weight: 300;
}

#armore table td small {
    font-size: 11px;
    color: #868686;
}

#armore span.badge {
    margin-left: 10px;
    border-radius: 2px;
    padding: 4px;
    font-weight: normal;
    background-color: #28a4c9;
}

#armore span.badge.all {
    background-color: #d43f3a;
}

#network div.box, #connections div.box, #disks div.box {
    width: 100%;
}

#process {
    width: 100%;
}

#process table tr.skip-border td {
    border-top: 0;
}

#log-content {
    height: 700px;
    overflow: scroll;
    font-size: 12px;
    background-color: #222;
    color: #eee;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    overflow-x: hidden;
    white-space: pre-wrap;
}

#log .search-text {
    background-color: #2d2d2d;
    color: #747474;
    border-color: #3d3d3d;
}

#log span.matching-text {
    border: 1px solid #E6E600;
    padding: 2px;
}

#log span.found-text {
    background-color: #E6E600;
    color: #111;
    padding: 2px;
}

#log .controls {
    background-color: #222;
    padding: 10px;
    color: #eee;
}

#log .controls .status-text, #log .controls .mode-text {
    padding-top: 10px;
    font-size: 13px;
    font-family: Consolas, "Courier New", monospace;
}

#log .controls button {
    background-color: #458bbe;
    border-color: #3b7ba4;
}

@media all and (max-width: 800px){
	#armore .table-container .content > div{
		display:block;
		width:100%;
	}
	#armore .table-container .content .main-content{
		margin-left:0;
	}
	#armore .table-container .content .left-nav{
		display:block;
		width:100%;
	}
	#armore .table-container .content .left-nav ul.menu li{
		display:inline-block;
	}
	#armore .table-container .content .left-nav ul.menu li a{
		width:auto;
		padding-left:5px;
	}
	#armore .table-container .content .left-nav ul.menu li.active a, #armore .content .left-nav ul.menu li a:hover {
		border-left:none;
		border-bottom:4px solid #d43f3a;
	}
}
@media all and (max-width: 600px){
	#armore .table-container .content .left-nav ul.menu{
		margin-left:40px;
	}
	#armore .table-container .content .left-nav ul.menu li{
		padding-right:30px;
	}
	#armore .table-container .content .left-nav ul.menu li a span.option-text{
		display:none;
	}
	#armore .header .logo{
		display:none;
	}
	#armore .header .top-nav{
		padding: 0;
	}
	#armore .header .top-nav .dropdown-text{
		font-size: 14px;
	}

}
@media all and (max-width:440px){
	#armore .table-container .content .left-nav ul.menu li{
		padding-right:15px;
	}
}

.states {
	list-style:none;
	margin:0;
	padding:0;
}

.states li {
	vertical-align:top;
	margin:0 0 1px;
	padding:9px 5px 12px 55px;
}

.states .error {
	background:#ffdede url(../images/sprite.png) no-repeat 17px -712px;
	color:#be0000;
}

.states .warning {
	color:#dc6200;
	background:#fff6de url(../images/sprite.png) no-repeat 18px -975px;
}

.states .success {
	color:#3f5a04;
	background:#dfedc0 url(../images/sprite.png) no-repeat 15px -841px;
}
