{% if not is_xhr|default(false) %}{% extends "common/base.html" %}{% endif -%}
{% block content %}
<div id="admin">
	<h1>Admin</h1>
	<div class="box col-md-2 col-xs-4">
		<div class="box-header">
			<span class="fa fa-user fa-lg"></span>
		</div>
		<br/>
		<a href="/admin/addUser">
			<span class="option-text">Add New User</span>
		</a>
		<br/>
		<a href="/admin/users">
			<span class="option-text">View Users</span>
		</a>
	</div>
	<div class="box col-md-2 col-xs-4">
		<div class="box-header">
			<span class="fa fa-power-off fa-lg"></span>
		</div>
		<br/>
		<form action="/settings/restart" method="post">
			<button type="submit" name="restart" value="ARMORE Proxy">Restart ARMORE Proxy</button>
		</form>
		<br/>
		<form action="/settings/restart" method="post">
			<button type="submit" name="restart" value="Bro">Restart Bro</button>
		</form>
	</div>
</div>
{% endblock %}
