Source: armoreczmq
Priority: extra
Maintainer: Steve Granda <sgrand2@illinois.edu>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Section: libs
Homepage: http://czmq.zeromq.org

Package: armoreczmq
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Curve ZMQ
 C Binding for ZeroMQ
