Source: armorenetmap
Maintainer: Steve Granda <sgrand2@illinois.edu>
Section: misc
Priority: optional
Build-Depends: bzip2, make
Standards-Version: 3.9.3
Homepage: http://iti.illinois.edu

Package: armorenetmap
Architecture: amd64
Depends:  make, bzip2
Description: Armore Networking.
 Bundled NetMap Kernel Modules for Armore x64 kernel and utilities.
 Please download original netmap source from: https://github.com/luigirizzo/netmap
